
  a {color: black;} 

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: blue; 
    font-weight: 500;
  }
  
  a:active {
    text-decoration: underline;
  }
  
  .dataValue{
    margin: auto;
    width: 100%;
  }

  .sorting {
      display: flex;
      justify-content: space-around;
  }
  .viewport {
    height: 80vh;
    width: 98vw;
  }

  .sortIcon:hover {
    color: blue; 
    font-weight: 500;
  }

  .searchInput:hover {
    background-color: #ebeef2;
  }

