<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand">Hacker News</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 searchInput" type="search" placeholder="Search" aria-label="Search" #myInput
          (input)="filterItem(myInput.value)">
        <span style="color: bisque;">
          <mat-icon matSuffix>search</mat-icon>
        </span>
      </form>
    </div>
  </nav>
  <div class="dataValue">
    <div class="sorting my-2">
      <div>
        <span style="cursor: pointer;" (click)="sortByScore()" class="d-flex flex-row align-items-center sortIcon">
          <div>
            <mat-icon *ngIf="sortScoreAssending">arrow_upward</mat-icon>
            <mat-icon *ngIf="!sortScoreAssending">arrow_downward</mat-icon>
          </div>
          <div class="ml-1">Sort by score</div>
        </span>
      </div>
      <div>
        <span style="cursor: pointer; " (click)="sortByDate()" class="d-flex flex-row align-items-center sortIcon">
          <div>
            <mat-icon *ngIf="sortdateAssending">arrow_upward</mat-icon>
            <mat-icon *ngIf="!sortdateAssending">arrow_downward</mat-icon>
          </div>
          <div class="ml-1">
            Sort by date and time
          </div>
        </span>
      </div>
    </div>
    <cdk-virtual-scroll-viewport [itemSize]="50" class="viewport">
      <div class="m-3" *cdkVirtualFor="let item of articlesByID">
        <div class="shadow p-2 mb-2 bg-white rounded">
          <a href="{{item.url}}" target="_blank">
            <span>{{item.title}}</span>
          </a>
        </div>
      </div>
      <div *ngIf="articlesByID?.length === 0" class="d-flex flex-row justify-content-center">
        <h1 class="badge badge-secondary p-3 mt-5">No item found</h1>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>